# dependencies
node_modules
client/node_modules
server/node_modules
client/.next
server/dist


# tests
playwright-report/
test-results/

# locks
client/bun.lock
server/bun.lock
bun.lock

# prisma
prisma/migrations/
prisma/generated/

# env
client/.env*.local
server/.env*.local
.env.local
.env.*.local
.env

# misc
.DS_Store